.banner{
    background-color: white;
    height: 55px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    border-bottom: 2px solid red;
}